.mainDiv {
  width: fit-content;
}
.checked {
  text-decoration:line-through;
}
li {
  width : fit-content;
}
li:hover {
  cursor: pointer;
}
button:hover {
  box-shadow: 2px 2px 5px black;
}
.btn-del {
  margin-left: 10rem;
}